*{
    margin: 2;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 95%%;
    background-color: #f5edda;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 10px;
    text-align: center;
}

.a{
    text-align: center;
    background-image: url("wallpaperindex.jpg");
    height: 700px;
    width: 1200px;
    color: #9bab7a;
    font-size: 20px;
}

.a h1{
    margin: 175px 280px; 
}

.ab{
    align-content: center;

}
.card-container{
    background-color: #f5edda;
    border-radius: 30px;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}

.card{
    width: 290px;
    height: 200px;
    position: relative;
    background-color: #bbc8dc;
    margin: 30px;
}

.card .caption{
    padding: 5px;
    position: relative;
}

.card h3{
    margin-bottom: -2px;
    display: inline-block;
}

.card:hover{
    box-shadow: 0px 0px 20px 5px black;
    transition: 0.5s;
}

.topcard{
    width: 400px;
    height: 60px;
    position: relative;
    background-color: #CDDDDC;
    margin: 0px;
    margin-left: 325px;
}
.column{
    float: left;
    height: 250px;
    border-radius: 20px;
}
.left{
    width: 65%;
    margin: 30px;
    margin-left: -50px;
}
.right{
    float: right;
    width: 35%;
    background-color: #CDDDDC;
    padding: 0px;
}
h4{
    margin:0px;
    padding: 10px;
}
}
.leftcolumn .caption{
    padding: 5px;
    position: relative;
}
.leftcolumn .p{
    margin-bottom: -2px;
    display: inline-block;
}

.card {
  padding: 20px;
  margin-top: 20px;
  background-color: #CDDDDC;
}
.card2{
    align-content: center;
    margin-top: -30px;
}
.cardleft{
    align-content: left;
    
}

nav{
    display: flex;
    padding: 0% 9%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #8d9a6e;
    text-decoration: none;
    font-size: 14px;
    font-family: Century Gothic;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8d9a6e;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #8d9a6e;
    border: 1px solid #8d9a6e;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #8d9a6e;
    background: #8d9a6e;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #8d9a6e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    
    
    
    /------- campus ----/
    
    .campus{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }
    .campus-col{
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
    .campus-col img{
        width: 100%;
    }
    
    .layer{
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s
    }
    .layer:hover{
        background: rgba(226,0,0,0.7);
    }
    .layer h3{
        width: 100%;
        font-weight: 500;
        color: #fff;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transform: 0.5s;
    }

    .layer:hover h3{
        bottom: 49%;
        opacity: 1;
    }
    element.style{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}